<table width="100%" border="0">
    <tr>
        <td valigh="middle" rowspan="2">
            <h1>DataMung Demo</h1>
        </td>
        <td align="right"></td>
    </tr>
    <tr>
        <td align="right" valign="bottom">
            <a href="$link.absolute('')">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="$link.absolute('/create')">Get started</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="$link.absolute('/jobs')">Active jobs</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="$link.absolute('/about.html')">Learn more</a>
        </td>
    </tr>
</table>