<div>
    <h2>What is it</h2>
    <p>
        Open source service that backs up MySQL RDS instances in form of
        S3 objects, which allows to replicate RDS across regions, VPC,
        AWS accounts or outside of AWS network.
    </p>
    <p>
        <a href="http://wiki.cyclopsgroup.org/datamung">
            Check out the wiki page to learn more about Datamung.
        </a>
    </p>
    <p>
        This website is a quick demo of DataMung. Here you may try
        backing up a MySQL RDS instance under your AWS account. If it
        does sound like a solution of your problem, why not
        <a href="$link.absolute('/create')">give it a try</a>
        ?
    </p>
</div>