<tr>
    <td>
        <a
            href='$link.absolute("/browse/$workflow.workflowId").addQueryData("runId", $workflow.runId)'
            title="Click to see more details">

            #if($workflow.workflowId==$highlight)
            <b>$workflow.workflowId</b>
            #else
            $workflow.workflowId
            #end
        </a>
    </td>
    <td>
        #if($workflow.workflowType=="ExportInstanceWorkflow")
        Database
        backup
        #elseif($workflow.workflowType=="ExportSnapshotWorkflow")
        Snapshot conversion
        #end
    </td>
    <td>
        $workflow.startDate.toString("MM/dd HH:mm z")
    </td>
    <td>
        $workflow.workflowStatus
    </td>
</tr>