<div>
    <h2>Instance backup details</h2>
    <form method="post"
        action="$link.absolute('create/do_save_backup_details.html')">
        <input type="hidden" name="formBean"
            value="org.cyclopsgroup.datamung.web.form.SourceAndDestination" />
        <input type="hidden" name="inputData" value="$inputData" />
        <table cellpadding="0" cellpading="2" border="0" width="100%">
            <tr>
                <td width="5%"></td>
                <td width="95%"></td>
            </tr>
            <tr>
                <td colspan="2">
                    #if($input.actionType.name()=="BACKUP_INSTANCE")
                    <h3>Back up from</h3>
                    #else
                    <h3>Convert from</h3>
                    #end
                    <p>
                        DataMung does not persist database password. It
                        uses
                        database password to
                        execute mysqldump
                        command in
                        order to backup
                        database, then throw it
                        away after
                        process
                        completes.
                    </p>
                </td>
            </tr>
            #if($input.actionType.name()=="BACKUP_INSTANCE")
            <tr>
                <td nowrap="nowrap">Instance:</td>
                <td>
                    <select name="databaseInstanceId">
                        <option value="">--Select an instance--
                        </option>
                        #foreach($instance in $allInstances)
                        #if($instance.dBInstanceIdentifier==$input.sourceAndDestination.databaseInstanceId)
                        <option selected="selected"
                            value="$instance.dBInstanceIdentifier">
                            $instance.dBInstanceIdentifier
                            ($instance.allocatedStorage Gb,
                            $instance.dBInstanceStatus)
                        </option>
                        #else
                        <option value="$instance.dBInstanceIdentifier">
                            $instance.dBInstanceIdentifier
                            ($instance.allocatedStorage Gb,
                            $instance.dBInstanceStatus)
                        </option>
                        #end
                        #end
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="error" u:for="databaseInstanceId" />
            </tr>
            #else
            <tr>
                <td nowrap="nowrap">Snapshot:</td>
                <td>
                    <select name="databaseSnapshotId">
                        <option value="">--Select a snapshot--
                        </option>
                        #foreach($snapshot in $allSnapshots)
                        #if($snapshot.dBSnapshotIdentifier==$input.sourceAndDestination.databaseSnapshotId)
                        <option selected="selected"
                            value="$snapshot.dBSnapshotIdentifier">
                            $snapshot.dBSnapshotIdentifier
                            ($snapshot.status)
                        </option>
                        #else
                        <option value="$snapshot.dBSnapshotIdentifier">
                            $snapshot.dBSnapshotIdentifier
                            ($snapshot.status)
                        </option>
                        #end
                        #end
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="error" u:for="databaseSnapshotId" />
            </tr>
            #end
            <tr>
                <td nowrap="nowrap">Master password:</td>
                <td>
                    <input type="password" name="databaseMasterPassword"
                        size="20"
                        value="$!input.sourceAndDestination.databaseMasterPassword" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="error" u:for="databaseMasterPassword" />
            </tr>
            #if($input.actionType.name()=="BACKUP_INSTANCE")
            <tr>
                <td nowrap="nowrap">Touchless:</td>
                <td></td>
            </tr>
            #end
            <tr>
                <td colspan="2">
                    <h3>#if($input.actionType.name()=="BACKUP_INSTANCE")
                        Backup
                        #else Convert #end to
                    </h3>
                    <p>
                        Specify where the mysqldump result file should be
                        persisted
                    </p>
                </td>
            </tr>
            <tr>
                <td nowrap="nowrap">S3 bucket name:</td>
                <td>
                    <select name="archiveBucketName">
                        <option value="">--Select an bucket--
                        </option>
                        #foreach($bucket in $allBuckets)
                        #if($bucket.name==$input.sourceAndDestination.archiveBucketName))
                        <option value="$bucket.name" selected="selected">
                            $bucket.name
                        </option>
                        #else
                        <option value="$bucket.name">
                            $bucket.name
                        </option>
                        #end
                        #end
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="error" u:for="archiveBucketName" />
            </tr>
            <tr>
                <td nowrap="nowrap">S3 object key:</td>
                <td>
                    <input type="text" name="archiveObjectKey"
                        size="60"
                        value="$!input.sourceAndDestination.archiveObjectKey" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="error" u:for="archiveObjectKey" />
            </tr>
            <tr>
                <td></td>
                <td class="error" u:for="form"></td>
            </tr>
            <tr>
                <td colspan="2">
                    #set($getStartedUrl=$link.absolute("/create/get_started.html"))
                    <button type="submit"
                        onclick="this.form.action='$getStartedUrl'">Back</button>
                    <button type="submit"
                        onclick="return validateForm(this.form);">Continue...</button>
                </td>
            </tr>
        </table>
    </form>
</div>