option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: robokitten
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value:  vpc-ea64e187
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-2b568747,subnet-c955d6a4,subnet-ff64e192
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-845786e8,subnet-7a5ad917,subnet-e364e18e
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-76a05219